---
import Layout from '../layouts/Layout.astro';
import AlumnoInfo from '../components/AlumnoInfo.astro';
---

<Layout title="Información de Alumnos">
  <main>
    <h1>Información de Alumnos</h1>
    <AlumnoInfo />
  </main>
</Layout>