---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import NavbarUser from "../components/Navbar-user.astro";
import NavbarInicio from "../components/Navbar-inicio.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Edu-Web">
	<NavbarInicio />
	<main>
		<section
			class="h-screen bg-center bg-no-repeat bg-cover bg-[url('https://th.bing.com/th/id/OIP.IR8jLkjlN41ZW-JG12L81AHaEJ?rs=1&pid=ImgDetMain')] bg-gray-700 bg-blend-multiply"
		>
			<div
				class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
			>
				<h1
					class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
				>
					Conectando Familias y Educación
				</h1>
				<h2
					class="mb-4 text-1xl font-extrabold tracking-tight leading-none text-white md:text-2xl lg:text-3xl"
				>
					Información Académica al Alcance
				</h2>
				<p
					class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
				>
					Nuestra plataforma facilita la interacción entre padres,
					estudiantes, profesores y personal administrativo. Los
					profesores ingresan calificaciones y comentarios; los
					estudiantes y padres consultan el rendimiento académico en
					tiempo real. El personal administrativo gestiona cuentas,
					inscripciones y publica anuncios importantes. La tecnología
					nos conecta y mantiene informados.
				</p>
				<div
					class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
				>
					<a
						href="#"
						class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
					>
						Comienza ahora!
						<svg
							class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 10"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M1 5h12m0 0L9 1m4 4L9 9"></path>
						</svg>
					</a>
					<!-- adiós saber más
						<a
						href="#"
						class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
					>
						Saber mas
					</a> -->
				</div>
			</div>
		</section>
		<section class="p-20">
		<!--ULTIMOS TRABAJOS -->
		<!--SALTO A SECTION -->
		<p id="ultimosTrabajos" class="mb-4 text-1xl font-extrabold tracking-tight leading-none text-white md:text-2xl lg:text-3xl text-center">
			Últimos trabajos
		</p>

		<div class="grid grid-cols-2 gap-2 ">
			<div>
				<img class="h-auto max-w-full rounded-lg" src="Python\EduWeb\FRONTEND\public\img\colegio-1.png" alt="">
			</div>
			<div>
				<img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
			</div>
			<div>
				<img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
			</div>
			<div>
				<img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
			</div>
		</div>

		</section>

		<!-- SERIVICIOS -->
		<section class="p-20">
			<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
				<h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Plan Estándar</h5>
				<div class="flex items-baseline text-gray-900 dark:text-white">
				<span class="text-3xl font-semibold">$</span>
				<span class="text-5xl font-extrabold tracking-tight">49</span>
				<span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
				</div>
				<ul role="list" class="space-y-5 my-7">
				<li class="flex items-center">
				<svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">2 team members</span>
				</li>
				<li class="flex">
				<svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">20GB Cloud storage</span>
				</li>
				<li class="flex">
				<svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Integration help</span>
				</li>
				<li class="flex line-through decoration-gray-500">
				<svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 ms-3">Sketch Files</span>
				</li>
				<li class="flex line-through decoration-gray-500">
				<svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 ms-3">API Access</span>
				</li>
				<li class="flex line-through decoration-gray-500">
				<svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 ms-3">Complete documentation</span>
				</li>
				<li class="flex line-through decoration-gray-500">
				<svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
				<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
				</svg>
				<span class="text-base font-normal leading-tight text-gray-500 ms-3">24×7 phone & email support</span>
				</li>
				</ul>
				<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose plan</button>
				</div>
				
		</section>

		
	</main>
	<Footer />
</Layout>

